<h1>Galeri</h1><br>
<div class="app">    
    <div class="image" style="background-image: url('img/pexels-akwice-3153679.jpg')" onclick="big('download.jpg');"></div>
    <div class="image" style="background-image: url('img/pexels-ena-marinkovic-3697742.jpg')" onclick="big('images(1).jpg');"></div>
    <div class="image" style="background-image: url('img/pexels-scott-webb-1544947.jpg')" onclick="big('images(2).jpg');"></div>
    <div class="image" style="background-image: url('img/pexels-timur-saglambilek-87223.jpg')" onclick="big('images(3).jpg');"></div>
    <div class="image" style="background-image: url('img/interior-2685521_960_720.jpg')" onclick="big('images.jpg');"></div>
    <div class="image" style="background-image: url('img/windows-building-pattern-modern.jpg')" onclick="big('download.jpg');"></div>
    <div class="image" style="background-image: url('img/pexels-photo-323772.jpeg')" onclick="big('images(3).jpg');"></div>
    <div class="image" style="background-image: url('img/pexels-photo-929280.jpeg')" onclick="big('images.jpg');"></div>
</div>