<nav>
    <div class="header-start header-comman">
        <div class="header-logo header-comman header-comman-start">&nbsp;</div>
        <div class="header-comman header-comman-start">Name &nbsp;</div>
    </div>
    <div class="header-center header-comman">
        <div class="header-comman header-comman-center">
            <a href="/">Home</a>
        </div>
        <div class="header-comman header-comman-center">
            <a href="/about">About</a>
        </div>
        <div class="header-comman header-comman-center">
            <a href="/moreproject">Work</a>
        </div>
        <div class="header-comman header-comman-center">
            <a href="#">Design</a>
        </div>
        <div class="header-comman header-comman-center">
            <a href="/contact">Contact</a>
        </div>
        <div class="header-comman header-comman-center">
            <a href="/login">login</a>
        </div>
    </div>
    <div class="header-end header-comman">
        <div class="header-comman header-enquiry header-comman-end">Enquiry</div>
    </div>
</nav>