<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="logo.jpg" />
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/about.css"/>
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <header id="header">
        {{>header}}
    </header>
    <section>
        <div class="top-div">
            <div class="img-div">
                <div class="text-div">
                    <!-- epx=Experience,Project,Awards -->
                    <div class="epa">
                        <h1>Experience</h1>
                    </div>
                    <div class="epa">
                        <h1>Project</h1>
                    </div>
                    <div class="epa">
                        <h1>Awards</h1>
                    </div>
                        
                </div>
                <!-- <img src="interior-2685521_960_720.jpg"> -->
            </div>
        </div>
        <div class="center-div">
            <figure>
                <div class="center-div-sider">
                    <img src="img/logo.jpg" alt="myimage" >
                    
                    <h1>Name</h1>
                    <h1>EDUCATION</h1>
                    <h3>Ujjain Engineering College, Ujjain</h3>
                    <p>B.Tech in CSE</p>
                    <h3>Kendriya Vidyalaya Mandsaur</h3>
                    <p>PCM graduate(CBSE Board)</p>
                    <hr>
                    <h1>CONTACT</h1>
                    <p>Phone:8269912836<br>Gmail:0701CS191032@uecu.ac.in</p>
                </div>   
            </figure>
            <div class="App-div-mainepa-detail">
            <!-- epa=ex=Experience,pr=Project,aw=Awards -->
                <div class="ex-detail">
                    <h1>Experience</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere optio quidem est molestiae! Similique nemo eius, a debitis illo eum aut! Quis aspernatur est ad exercitationem, asperiores possimus eaque labore.</p>
                </div>
                <div class="pr-detail">
                    <h1>Project</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere optio quidem est molestiae! Similique nemo eius, a debitis illo eum aut! Quis aspernatur est ad exercitationem, asperiores possimus eaque labore.</p>
                </div>
                <div class="aw-detail">
                    <h1>Awards</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere optio quidem est molestiae! Similique nemo eius, a debitis illo eum aut! Quis aspernatur est ad exercitationem, asperiores possimus eaque labore.</p>
                </div>
        </div>
            <div class="center-div-div">
                <h1>Foundation</h1><br/>
                <div class="found">
                    <div class="center-div-div-img" style="background-image: url('img/pexels-akwice-3153679.jpg');">
                        <div class="found-mess">
                            <h1>Date</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci officiis incidunt sit consectetur ipsa consequuntur, fugiat natus minus voluptatum blanditiis? Quo, laborum. Rerum placeat sint quia non. Expedita, distinctio numquam.
                            </p>
                        </div>
                        <div class="div-arrow">&#9978</div>
                    </div>
                    <div class="center-div-div-img" style="background-image: url('img/pexels-timur-saglambilek-87223.jpg');">
                        <div class="found-mess">
                            <h1>Date</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci officiis incidunt sit consectetur ipsa consequuntur, fugiat natus minus voluptatum blanditiis? Quo, laborum. Rerum placeat sint quia non. Expedita, distinctio numquam.
                            </p>
                            </div>
                    </div>
                </div>

            </div>
        </div>
        

    </section>
    <section class="App-div-main galeri"><br>
        {{>galeri}}
    </section>
    <footer id="footer"></footer>
</body>
</html>