<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="icon" href="logo.jpg" />
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/contact.css"/>
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <header id="header">
        {{>header}}
    </header>
    <section>
        <div class="contact-main">
            <h1>CONTACT US</h1>
            <div class="contact">
                <div class="phone">
                    <h1>PHONE NUMBER</h1>
                    <p>9587456321</p>
                    <p>888-555-222 <br>(Tol Free)</p>    
                </div>
                <div class="email">
                    <h1>EMAIL</h1>
                    <p>abc@1234gmail.com</p>
                </div>
                <div class="office">
                    <h1>OUR OFFICE</h1>
                    <p>adress of office</p>
                </div>

            </div>
                <div class="bem">
                    <!-- bem=block of enquiry and add-map -->
                
                <div class="enquiry">
                    <form action="/contact" method="post">	
                        <h1>GET A FREE CASE EVALUTION TODAY!</h1>
                        <p>AVAILABLE 24 HOURS A DAY</p>
                            <input type="text"  placeholder="Enter Your Name" required autofocus name="username"><br>
                            <input type="Email" placeholder="Enter Your Email" required name="useremail"><br>
                            <input type="tel" placeholder="Enter Your Number" required name="userphone" pattern="[0-9]{10}"><br>
                            <span>Only enter Number of 10 digit</span>
                            <textarea type="text" rows="5" cols="25" placeholder="Enter Your Message" required name="useradd"></textarea><br></br>
                            <button type="submit">Submit</button>
                    </form>
                    <!-- <form  autocomplete="on" name="persanalform" method="post" style="overflow:auto;">
                        
                    </form> -->
                </div>
                <div class="add-map">
                    <h1>WE ARE HERE</h1>

                </div>
            </div>
        </div>
    </section>
    <footer id="footer"></footer>
</body>
</html>