<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Document</title>
    <link rel="icon" href="../public/img/logo.jpg"/>
    <link rel="stylesheet" href="css/Index.css"/>
    <link rel="stylesheet" href="css/responsive.css">
    
</head>
<body>
    <header id="header" >
        {{>header}}        
    </header>
    
    <menu>
        <div class="sider">
            <img src="img/logo.jpg" alt="myimage" >
            </figure>
                <h1>Name</h1>
                <h1>EDUCATION</h1>
                <h3>Ujjain Engineering College, Ujjain</h3>
                <p>B.Tech in CSE</p>
                <h3>Kendriya Vidyalaya Mandsaur</h3>
                <p>PCM graduate(CBSE Board)</p>
                <hr>
                <h1>CONTACT</h1>
                <p>Phone:8269912836<br>Gmail:0701CS191032@uecu.ac.in</p>
            </figure>            
        </div>
    </menu>
    <section>
            <div class="App-div-main">
                <div>
                    <div>
                        <img src="img/interior-2685521_960_720.jpg" class="top-main-img" style="width:100%" alt="Pharmacy1">
                    </div>
                </div>
                <div class="Work-div">
                    <h1>Work</h1><br/><br/>
                    <div class="grid-container">
                        <div class="item1">
                            <div class="item1-img"></div>
                            <h1>Name</h1>
                            <p>Details</p><br/><br/>
                            <a href="/moreproject"><button type="button" class="button-mp">More Projects</button></a>
                        </div>
                        <div class="item2">
                            <div class="item2-img"></div>
                            <h1>Name</h1>
                            <p>Details</p>
                        </div>
                        <div class="item3">
                            <div class="item3-img"></div>
                            <h1>Name</h1>
                            <p>Details</p>
                        </div>
                    </div>
                </div>
              <div class="App" id="blocks_div">
                <!-- <div class="Block-display-block" onClick={detail_fun}>
                    <div class="Block-image-div">
                        <img src="logo.jpg" class="Block-image" alt="logo" />
                    </div>
                    <div class="Block-content-div">
                        <h1>place</h1>
                        <span>Price </span>
                    </div> -->
              </div>
            </div>
            <div class="whyus">
                <h1>SOME FEATURES THAT MAKE US UNIQUE</h1><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente incidunt architecto  rerum enim eveniet <br/>doloremque dolorum illum ea ab laborum! <br/>Unde sunt iure porro consequuntur dolorum. Quia vitae earum odit.</p><br>
                <div class="whyus-defination">
                    <h2>EXPERT TECHNICIANS</h2><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, at? Nemo ut quibusdam molestias! Earum hic quas labore nihil, illo voluptatum?</p>
                </div>
                <div class="whyus-defination">
                    <h2>PROFESSIONAL SERVICE</h2><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, at? Nemo ut quibusdam molestias! Earum hic quas labore nihil, illo voluptatum?</p>
                </div>
                <div class="whyus-defination">
                    <h2>GREAT SUPPORT</h2><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, at? Nemo ut quibusdam molestias! Earum hic quas labore nihil, illo voluptatum?</p>
                </div>
                <div class="whyus-defination">
                    <h2>TECHNICAL SKILLS</h2><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, at? Nemo ut quibusdam molestias! Earum hic quas labore nihil, illo voluptatum?</p>
                </div>
                <div class="whyus-defination">
                    <h2>HIGHLY RECOMENDED</h2><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, at? Nemo ut quibusdam molestias! Earum hic quas labore nihil, illo voluptatum?</p>
                </div>
                <div class="whyus-defination">
                    <h2>POSITIVE REVIEWS</h2><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, at? Nemo ut quibusdam molestias! Earum hic quas labore nihil, illo voluptatum?</p>
                </div>
            </div>     
      
          </div>
    </section>
    <section class="App-div-main galeri"><br>
        {{>galeri}}
    </section>
    
    <footer id="footer">
        <div>
            <h1>Footer</h1>
        </div>
    </footer>
</body>
</html>