<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="icon" href="logo.jpg" />
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/projectDetails.css"/>
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <header id="header" >    
        {{>header}}    
    </header>
    <menu>
       
    </menu>
    <section>
        <!-- pd=projectDetails -->
        <div class="pd-container">
            <div class="pd-top-div">
                <div class="pd-top-main-img" style="background-image: url('img/pexels-akwice-3153679.jpg');"></div>
                <div class="top-left-img">
                    <div class="pd-more-img" style="background-image: url('img/interior-2685521_960_720.jpg');"></div>
                    <div class="pd-more-img" style="background-image: url('img/pexels-ena-marinkovic-3697742.jpg');"></div>
                    <div class="pd-more-img" style="background-image: url('img/pexels-photo-323772.jpeg');"></div>
                    <div class="pd-more-img" style="background-image: url('img/pexels-photo-929280.jpeg');"></div>
                    <div class="pd-more-img" style="background-image: url('img/pexels-scott-webb-1544947.jpg');"></div>
                    <div class="pd-more-img" style="background-image: url('img/pexels-timur-saglambilek-87223.jpg');"></div>
                    <h1><a href="#">More Image</a></h1>
                </div>
            </div>
            <div class="pd-main-details">
                <h1>DETAILS</h1>
                <div class="pd-details">
                    <div class="area">
                        <h1>AREA</h1>
                        <p>23000 m²</p>   
                    </div>
                    <div class="year">
                        <h1>YEAR</h1>
                        <p>2020</p>
                    </div>
                    <div class="arch">
                        <h1>ARCHITECTS</h1>
                        <p>XYZ</p>
                    </div>
                </div>
                <div class="pd-detail-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, consequatur? Voluptate, sequi magnam vitae ratione expedita ullam cupiditate dolorem nemo pariatur quisquam excepturi, velit iusto sapiente porro tempora voluptatibus facilis.
                    Voluptatum sint magnam vitae doloribus reiciendis. Voluptates eius consectetur ratione similique maxime reiciendis mollitia voluptatum quasi, doloribus dolor vitae magni incidunt, minima tempore velit qui provident error, aliquid autem natus?
                </div>
            </div>
            
        </div>
    </section>
    
    <footer id="footer"></footer>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>