.dashboard-menu{
    position: fixed;
    top: 60px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    line-height: 1.5;
	background-color:grey;
    width: 20%;
    box-sizing: border-box;
    color: white;
    padding-top:1%;
    padding-bottom:1%;
}
.dashboard-option{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    padding-left: 7%;
    padding-top: 1%;
}
.dashboard-option:hover{
    background-color: lightgrey;
}
.dashboard-option:active{
    background-color: lightgrey;
}
.dashboard-div-main{
    margin: 70px 1% 1% 20%;
}
.dashboard-table{
    border: 2px solid black;
    margin: 1%;
}
.dashboard-table tr:nth-child(even){
    background-color: #eee;
}
.dashboard-table tr:nth-child(odd){
    background-color: #fff;
}
.dashboard-table th,td{
    padding: 10px;
}
.singup-div{
    border: 2px solid red;
    background-color: blanchedalmond;
}
.singup-div form{
    text-align: center;

}
.singup-div table{
    width: 100%;
}